body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
}

.deleteButton, .completeButton {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    margin-left: 8px;
    color: dimgrey;
}

.completed {
    text-decoration: line-through;
    color: #999;
}


@media (max-width: 600px) {
    .card {
        max-width: 80%;
    }
}

.buttons {
    border: 1px solid #ddd;
}

.deleteButton {
    color: #ff0000;
}

.completeButton {
    color: #00cc00;
}